extends layout
block content
  h1= title
  - let journalid = toShow._id
  - let journalcover = toShow.coverMaterial
  - let journalcost = toShow.cost
  - let journalpage = toShow.pages
  div
    div.row
      div(class='journalAttr mr-3') Journal ID is:
      div #{journalid}
    div.row
      div(class='journalAttr mr-3') Journal Cover is:
      div #{journalcover}
    div.row
      div(class='journalAttr mr-3') Journal page count is:
      div #{journalpage}
    div.row
      div(class='journalAttr mr-3') Journal Cost is:
      div #{journalcost}